[submodule "src/org/json"]
	path = src/org/json
	url = https://github.com/arturklesun/SheetMusicJSON-java
[submodule "src/org/jm"]
	path = src/org/jm
	url = https://github.com/arturklesun/jMusic_fork
